<%- include('partials/header'); -%>

    <div class="intro">
    <h1>Konrad Blogs!</h1>
    </div>
    
    <h2>Here are the blogs!</h2>
    <div id="recentBox">
    
    </div>

    <script src="js/index.js" defer></script>
<%- include('partials/footer'); -%>